
/* LINKS */
a,
a:hover,
a:focus,
a:visited {
  text-decoration: none;
}
/* IMAGE */
img {
  border: 0 none;
  margin: 0;
}
/* Outline */
a,
img,
*:hover,
*:select,
*:focus,
*:visited {
  border: 0 none;
  outline: 0 none;
}
/* -------------------------------
    TYPOGRAPHY
-------------------------------- */
/*
    font-family:'Avenir LT W01 35 Light';
    font-family:'Avenir LT W01 45 Book';
    font-family:'Avenir LT W01 55 Roman';
    font-family:'Avenir LT W01 65 Medium';
    font-family:'Avenir LT W01 85 Heavy';
    font-family:'Avenir LT W01 95 Black';
*/
body {
  font-family: Helvetica, 'Helvetica Neue', Arial, sans-serif;
  font-weight: inherit;
  -webkit-text-size-adjust: none;
}
.AvenirLight {
  font-family: 'Avenir LT W01 35 Light';
}
.AvenirBook {
  font-family: 'Avenir LT W01 45 Book';
}
.AvenirRoman {
  font-family: 'Avenir LT W01 55 Roman';
}
.AvenirMedium {
  font-family: 'Avenir LT W01 65 Medium';
}
.AvenirHeavy {
  font-family: 'Avenir LT W01 85 Heavy';
}
.AvenirBlack {
  font-family: 'Avenir LT W01 95 Black';
}
/* -------------------------------
    LAYOUT
-------------------------------- */
html,
body {
  overflow-x: hidden;
}
html {
  font-size: 10px;
}
body {
  font-size: 1em;
  color: #000000;
}
::-moz-selection {
  background-color: #00c3db !important;
  color: #FFF !important;
}
::selection {
  background-color: #00c3db;
  color: #FFF !important !important;
}
/* COLORS */
/* retina */
/* ALL */
a,
a:focus,
a:visited,
a:hover {
  outline: 0 none;
}
br.mob,
br.desk,
br.mob480,
br.mob480to750,
br.desk750to1000,
br.desk1000to1500,
br.desk1500 {
  display: none;
}
sup {
  font-size: 70%;
  vertical-align: super;
}
/* HACK */
.gc-bubbleDefault {
  filter: alpha(opacity=0);
  -khtml-opacity: 0;
  -moz-opacity: 0;
  opacity: 0;
  display: none !important;
}
.fb_edge_widget_with_comment span.fb_edge_comment_widget iframe.fb_ltr {
  display: none !important;
}
.fbpf {
  display: none !important;
}
.not-found {
    text-align: center;
    padding: 58px;
    font-size: 20px;
}
.brace {
    color: red;
}
@media only screen and (max-width: 480px) {
  header,
  .header {
    display: block;
    position: relative;
    width: 100%;
    height: 350px;
    top: auto;
    right: auto;
    bottom: auto;
    left: auto;
    background: #141414;
    padding: 20px 0 0 0;
    z-index: 9999;
    border: 0 none;
  }
  header #logo,
  .header #logo {
    display: block;
    position: relative;
    width: 75px;
    height: 77px;
    top: auto;
    right: auto;
    bottom: auto;
    left: auto;
    margin: 0 auto;
    background-image: url('../img/fav.ico/android-icon-48x48.png');
    background-position: 50% 50%;
    background-repeat: no-repeat;
  }
  header #menu,
  .header #menu {
    display: block;
    position: absolute;
    width: 100%;
    height: auto;
    top: auto;
    right: auto;
    bottom: 0px;
    left: 0px;
    z-index: 1000;
    background: #141414;
  }
  header #menu.fixed,
  .header #menu.fixed {
    display: block;
    position: fixed;
    width: 100%;
    height: auto;
    top: 0px;
    right: auto;
    bottom: auto;
    left: 0px;
  }
  header #menu nav,
  .header #menu nav,
  header #menu .nav,
  .header #menu .nav {
    display: block;
    position: relative;
    width: 100%;
    height: auto;
    top: auto;
    right: auto;
    bottom: auto;
    left: auto;
    text-align: center;
    padding: 23px 0 32px 0;
  }
  header #menu nav li,
  .header #menu nav li,
  header #menu .nav li,
  .header #menu .nav li {
    display: inline;
    margin: 0 10px;
    border: 0 none;
  }
  header #menu nav li a,
  .header #menu nav li a,
  header #menu .nav li a,
  .header #menu .nav li a {
    font-size: 12px;
    font-family: 'Avenir LT W01 85 Heavy';
    letter-spacing: 1px;
    color: #d9d9d9;
    text-transform: uppercase;
    padding: 0 0 5px 0;
    filter: alpha(opacity=99);
    -khtml-opacity: 0.99;
    -moz-opacity: 0.99;
    opacity: 0.99;
  }
  header #menu nav li a.selected,
  .header #menu nav li a.selected,
  header #menu .nav li a.selected,
  .header #menu .nav li a.selected {
    color: #d9d9d9;
    border-bottom: 1px solid #d9d9d9;
  }
  header #menu nav li a:hover,
  .header #menu nav li a:hover,
  header #menu .nav li a:hover,
  .header #menu .nav li a:hover {
    color: #ffffff;
    border-bottom: 1px solid #ffffff;
  }
  header #menu .edging,
  .header #menu .edging {
    background: #242424;
    display: block;
    position: absolute;
    width: 100%;
    height: 10px;
    top: auto;
    right: auto;
    bottom: 0px;
    left: 0px;
  }
 
  header #headerTitles,
  .header #headerTitles {
    color: #d9d9d9;
    text-align: center;
    font-family: 'Avenir LT W01 65 Medium';
    width: 80%;
    margin: 34px auto 0 auto;
    line-height: 27px;
  }
  header #headerTitles .title,
  .header #headerTitles .title {
    font-size: 24px;
    letter-spacing: 3px;
  }
  header #headerTitles .subtitle,
  .header #headerTitles .subtitle {
    font-size: 24px;
    letter-spacing: 3px;
  }
  header #headerTitles .title,
  .header #headerTitles .title {
    display: inline;
    letter-spacing: 2px;
  }
  header #headerTitles .subtitle,
  .header #headerTitles .subtitle {
    display: none;
  }

  .mob480 {
    display: inherit;
  }
  br.mob480,
  br.mob {
    display: inherit;
  }
}
@media only screen and (max-width: 480px) and (-webkit-min-device-pixel-ratio: 1.5) {
  header #logo,
  .header #logo {
    background-image: url('../img/fav.ico/android-icon-48x48.png');
    background-size: 75px 77px;
  }
}
@media only screen and (min-width: 481px) and (max-width: 749px) {
  header,
  .header {
    display: block;
    position: relative;
    width: 100%;
    height: 290px;
    top: auto;
    right: auto;
    bottom: auto;
    left: auto;
    background: #141414;
    padding: 20px 0 0 0;
    z-index: 9999;
    border: 0 none;
  }
  header #logo,
  .header #logo {
    display: block;
    position: relative;
    width: 75px;
    height: 77px;
    top: auto;
    right: auto;
    bottom: auto;
    left: auto;
    margin: 0 auto;
    background-image: url('../img/fav.ico/android-icon-48x48.png');
    background-position: 50% 50%;
    background-repeat: no-repeat;
  }
  header #menu,
  .header #menu {
    display: block;
    position: absolute;
    width: 100%;
    height: auto;
    top: auto;
    right: auto;
    bottom: 0px;
    left: 0px;
    z-index: 1000;
    background: #141414;
  }
  header #menu nav,
  .header #menu nav,
  header #menu .nav,
  .header #menu .nav {
    display: block;
    position: relative;
    width: 100%;
    height: auto;
    top: auto;
    right: auto;
    bottom: auto;
    left: auto;
    text-align: center;
    padding: 23px 0 32px 0;
  }
  header #menu nav li,
  .header #menu nav li,
  header #menu .nav li,
  .header #menu .nav li {
    display: inline;
    margin: 0 20px;
    border: 0 none;
  }
  header #menu nav li a,
  .header #menu nav li a,
  header #menu .nav li a,
  .header #menu .nav li a {
    font-size: 12px;
    font-family: 'Avenir LT W01 85 Heavy';
    letter-spacing: 1px;
    color: #d9d9d9;
    text-transform: uppercase;
    padding: 0 0 5px 0;
    filter: alpha(opacity=99);
    -khtml-opacity: 0.99;
    -moz-opacity: 0.99;
    opacity: 0.99;
  }
  header #menu nav li a.selected,
  .header #menu nav li a.selected,
  header #menu .nav li a.selected,
  .header #menu .nav li a.selected {
    color: #d9d9d9;
    border-bottom: 1px solid #d9d9d9;
  }
  header #menu nav li a:hover,
  .header #menu nav li a:hover,
  header #menu .nav li a:hover,
  .header #menu .nav li a:hover {
    color: #ffffff;
    border-bottom: 1px solid #ffffff;
  }
  
  header #headerTitles,
  .header #headerTitles {
    color: #d9d9d9;
    text-align: center;
    font-family: 'Avenir LT W01 65 Medium';
    width: 80%;
    margin: 34px auto 0 auto;
    line-height: 27px;
  }
  header #headerTitles .title,
  .header #headerTitles .title {
    font-size: 24px;
    letter-spacing: 3px;
  }
  header #headerTitles .subtitle,
  .header #headerTitles .subtitle {
    font-size: 24px;
    letter-spacing: 3px;
  }
  
  header #headerTitles .title,
  .header #headerTitles .title {
    display: inline;
    letter-spacing: 2px;
  }
   header #headerTitles .subtitle,
  .header #headerTitles .subtitle {
    display: none;
  }

  br.mob480to750,
  br.mob {
    display: inherit;
  }
}
@media only screen and (min-width: 481px) and (max-width: 749px) and (-webkit-min-device-pixel-ratio: 1.5) {
  header #logo,
  .header #logo {
    background-image: url('../img/fav.ico/android-icon-96x96.png');
    background-size: 75px 77px;
  }
}
@media only screen and (min-width: 750px) and (max-width: 999px) {
  br.desk750to1000,
  br.desk {
    display: inherit;
  }
  header,
  .header {
    display: block;
    position: relative;
    width: 100%;
    height: 503px;
    top: auto;
    right: auto;
    bottom: auto;
    left: auto;
    background: #141414;
    padding: 97px 0 0 0;
    z-index: 9999;
    border-bottom: 1px solid #6a6a6a;
  }
  header #logo,
  .header #logo {
    display: block;
    position: relative;
    width: 75px;
    height: 77px;
    top: auto;
    right: auto;
    bottom: auto;
    left: auto;
    margin: 0 auto;
    background-image: url('../img/fav.ico/android-icon-96x96.png');
    background-position: 50% 50%;
    background-repeat: no-repeat;
  }
  header #menu,
  .header #menu {
    display: block;
    position: absolute;
    width: 100%;
    height: auto;
    top: auto;
    right: auto;
    bottom: 0px;
    left: 0px;
    z-index: 1000;
    background: #141414;
  }

  header #menu nav,
  .header #menu nav,
  header #menu .nav,
  .header #menu .nav {
    display: block;
    position: relative;
    width: 100%;
    height: auto;
    top: auto;
    right: auto;
    bottom: auto;
    left: auto;
    text-align: center;
    padding: 23px 0 34px 0;
  }
  header #menu nav li,
  .header #menu nav li,
  header #menu .nav li,
  .header #menu .nav li {
    display: inline;
    margin: 0 40px;
    border: 0 none;
  }
  header #menu nav li a,
  .header #menu nav li a,
  header #menu .nav li a,
  .header #menu .nav li a {
    font-size: 12px;
    font-family: 'Avenir LT W01 85 Heavy';
    letter-spacing: 1px;
    color: #d9d9d9;
    text-transform: uppercase;
    padding: 0 0 5px 0;
    filter: alpha(opacity=99);
    -khtml-opacity: 0.99;
    -moz-opacity: 0.99;
    opacity: 0.99;
  }
  header #menu nav li a.selected,
  .header #menu nav li a.selected,
  header #menu .nav li a.selected,
  .header #menu .nav li a.selected {
    color: #d9d9d9;
    border-bottom: 1px solid #d9d9d9;
  }
  header #menu nav li a:hover,
  .header #menu nav li a:hover,
  header #menu .nav li a:hover,
  .header #menu .nav li a:hover {
    color: #ffffff;
    border-bottom: 1px solid #ffffff;
  }
  header #headerTitles,
  .header #headerTitles {
    color: #d9d9d9;
    text-align: center;
    margin: 80px 0 0 0;
  }
  header #headerTitles .title,
  .header #headerTitles .title {
    font-size: 60px;
    letter-spacing: 3px;
  }
  header #headerTitles .subtitle,
  .header #headerTitles .subtitle {
    font-size: 30px;
    letter-spacing: 3px;
  }
  header #headerTitles .title,
  .header #headerTitles .title,
  header #headerTitles .subtitle,
  .header #headerTitles .subtitle {
    position: relative;
    display: block;
  }
  header #headerTitles .title,
  .header #headerTitles .title {
    font-family: 'Avenir LT W01 85 Heavy';
    text-transform: uppercase;
  }
  header #headerTitles .subtitle,
  .header #headerTitles .subtitle {
    margin: 25px 0 0 0;
    font-family: 'Avenir LT W01 35 Light';
  }
}
@media only screen and (min-width: 750px) and (max-width: 999px) and (-webkit-min-device-pixel-ratio: 1.5) {
  header #logo,
  .header #logo {
    background-image: url('../img/fav.ico/android-icon-96x96.png');
    background-size: 75px 77px;
  }
}

@media only screen and (min-width: 1000px) and (max-width: 1499px) {
 
  br.desk,
  br.desk1000to1500 {
    display: inherit;
  }
  header,
  .header {
    display: block;
    position: relative;
    width: 100%;
    height: 503px;
    top: auto;
    right: auto;
    bottom: auto;
    left: auto;
    background: #141414;
    padding: 97px 0 0 0;
    z-index: 9999;
    border-bottom: 1px solid #6a6a6a;
  }
  header #logo,
  .header #logo {
    display: block;
    position: relative;
    width: 75px;
    height: 77px;
    top: auto;
    right: auto;
    bottom: auto;
    left: auto;
    margin: 0 auto;
    background-image: url('../img/fav.ico/android-icon-96x96.png');
    background-position: 50% 50%;
    background-repeat: no-repeat;
  }
  header #menu,
  .header #menu {
    display: block;
    position: absolute;
    width: 100%;
    height: auto;
    top: auto;
    right: auto;
    bottom: 0px;
    left: 0px;
    z-index: 1000;
    background: #141414;
  }
  header #menu nav,
  .header #menu nav,
  header #menu .nav,
  .header #menu .nav {
    display: block;
    position: relative;
    width: 100%;
    height: auto;
    top: auto;
    right: auto;
    bottom: auto;
    left: auto;
    text-align: center;
    padding: 23px 0 34px 0;
  }
  header #menu nav li,
  .header #menu nav li,
  header #menu .nav li,
  .header #menu .nav li {
    display: inline;
    margin: 0 40px;
    border: 0 none;
  }
  header #menu nav li a,
  .header #menu nav li a,
  header #menu .nav li a,
  .header #menu .nav li a {
    font-size: 12px;
    font-family: 'Avenir LT W01 85 Heavy';
    letter-spacing: 1px;
    color: #d9d9d9;
    text-transform: uppercase;
    padding: 0 0 5px 0;
    filter: alpha(opacity=99);
    -khtml-opacity: 0.99;
    -moz-opacity: 0.99;
    opacity: 0.99;
  }
  header #menu nav li a.selected,
  .header #menu nav li a.selected,
  header #menu .nav li a.selected,
  .header #menu .nav li a.selected {
    color: #d9d9d9;
    border-bottom: 1px solid #d9d9d9;
  }
  header #menu nav li a:hover,
  .header #menu nav li a:hover,
  header #menu .nav li a:hover,
  .header #menu .nav li a:hover {
    color: #ffffff;
    border-bottom: 1px solid #ffffff;
  }
  header #headerTitles,
  .header #headerTitles {
    color: #d9d9d9;
    text-align: center;
    margin: 80px 0 0 0;
  }
  header #headerTitles .title,
  .header #headerTitles .title {
    font-size: 60px;
    letter-spacing: 3px;
  }
  header #headerTitles .subtitle,
  .header #headerTitles .subtitle {
    font-size: 30px;
    letter-spacing: 3px;
  }
  header #headerTitles .title,
  .header #headerTitles .title,
  header #headerTitles .subtitle,
  .header #headerTitles .subtitle {
    position: relative;
    display: block;
  }
  header #headerTitles .title,
  .header #headerTitles .title {
    font-family: 'Avenir LT W01 85 Heavy';
    text-transform: uppercase;
  }
  header #headerTitles .subtitle,
  .header #headerTitles .subtitle {
    margin: 25px 0 0 0;
    font-family: 'Avenir LT W01 35 Light';
  }
}
@media only screen and (min-width: 1000px) and (max-width: 1499px) and (-webkit-min-device-pixel-ratio: 1.5) {
  header #logo,
  .header #logo {
    background-image: url('../img/fav.ico/ms-icon-310x310.png');
    background-size: 75px 77px;
  }
}
@media only screen and (min-width: 1500px) {
 
  br.desk,
  br.desk1500 {
    display: inherit;
  }
  header,
  .header {
    display: block;
    position: relative;
    width: 100%;
    height: 503px;
    top: auto;
    right: auto;
    bottom: auto;
    left: auto;
    background: #141414;
    padding: 97px 0 0 0;
    z-index: 9999;
    border-bottom: 1px solid #6a6a6a;
  }
  header #logo,
  .header #logo {
    display: block;
    position: relative;
    width: 75px;
    height: 77px;
    top: auto;
    right: auto;
    bottom: auto;
    left: auto;
    margin: 0 auto;
    background-image: url('../img/fav.ico/ms-icon-310x310.png');
    background-position: 50% 50%;
    background-repeat: no-repeat;
  }
  header #menu,
  .header #menu {
    display: block;
    position: absolute;
    width: 100%;
    height: auto;
    top: auto;
    right: auto;
    bottom: 0px;
    left: 0px;
    z-index: 1000;
    background: #141414;
  }
  header #menu nav,
  .header #menu nav,
  header #menu .nav,
  .header #menu .nav {
    display: block;
    position: relative;
    width: 100%;
    height: auto;
    top: auto;
    right: auto;
    bottom: auto;
    left: auto;
    text-align: center;
    padding: 23px 0 34px 0;
  }
  header #menu nav li,
  .header #menu nav li,
  header #menu .nav li,
  .header #menu .nav li {
    display: inline;
    margin: 0 40px;
    border: 0 none;
  }
  header #menu nav li a,
  .header #menu nav li a,
  header #menu .nav li a,
  .header #menu .nav li a {
    font-size: 12px;
    font-family: 'Avenir LT W01 85 Heavy';
    letter-spacing: 1px;
    color: #d9d9d9;
    text-transform: uppercase;
    padding: 0 0 5px 0;
    filter: alpha(opacity=99);
    -khtml-opacity: 0.99;
    -moz-opacity: 0.99;
    opacity: 0.99;
  }
  header #menu nav li a.selected,
  .header #menu nav li a.selected,
  header #menu .nav li a.selected,
  .header #menu .nav li a.selected {
    color: #d9d9d9;
    border-bottom: 1px solid #d9d9d9;
  }
  header #menu nav li a:hover,
  .header #menu nav li a:hover,
  header #menu .nav li a:hover,
  .header #menu .nav li a:hover {
    color: #ffffff;
    border-bottom: 1px solid #ffffff;
  }
  header #headerTitles,
  .header #headerTitles {
    color: #d9d9d9;
    text-align: center;
    margin: 80px 0 0 0;
  }
  header #headerTitles .title,
  .header #headerTitles .title {
    font-size: 60px;
    letter-spacing: 3px;
  }
  header #headerTitles .subtitle,
  .header #headerTitles .subtitle {
    font-size: 30px;
    letter-spacing: 3px;
  }
  header #headerTitles .title,
  .header #headerTitles .title,
  header #headerTitles .subtitle,
  .header #headerTitles .subtitle {
    position: relative;
    display: block;
  }
  header #headerTitles .title,
  .header #headerTitles .title {
    font-family: 'Avenir LT W01 85 Heavy';
    text-transform: uppercase;
  }
  header #headerTitles .subtitle,
  .header #headerTitles .subtitle {
    margin: 25px 0 0 0;
    font-family: 'Avenir LT W01 35 Light';
  }
}
@media only screen and (min-width: 1500px) and (-webkit-min-device-pixel-ratio: 1.5) {
  header #logo,
  .header #logo {
    background-image: url('../img/fav.ico/ms-icon-310x310.png');
    background-size: 75px 77px;
  }
}
